/*
    Created on : 17.12.2018, 16:58:28
    Author     : ninomt
*/

.rc-theme {

    #top-level-message {
        background: #1A3B9A;
        padding: 0.8rem 3em 0.8rem 0.8rem;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
        position: relative;

        .close-button:after {
            content: "\f00d";
            font-family: FontAwesome;
            position: absolute;
            top: calc(50% - 0.5em);
            right: 1rem;
            cursor: pointer;
        }
    }

    #rc-logo {
        background: #fff;
        height: 2.5rem;
        padding: 0 1em 0 0;
        box-sizing: border-box;

        img {
            height: 100%;
            width: auto;
        }
    }

    #header {
        color: $textColor;

        .top-nav {
            height: 100%;
            display: flex;
            align-items: center;
            background: #fff;
            color: $textColor;
            border-bottom: 1px solid $grayColor5;
            justify-content: space-around;

            .logo-mon {
                display: inline-block;
                height: 100%;
                box-sizing: border-box;
                padding: 1rem;

                img {
                    height: 100%;
                    width: auto;
                    filter: grayscale(100%);
                    opacity: 0.6;
                }
            }

            .search {
                align-self: center;
                margin: 0 1.25rem;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 0;

                .search-icon {
                    &:before {
                        content: "\e900";
                        font-family: $rcIconsFontFamily;
                        font-size: 1.5rem;
                        color: $textColor;
                    }

                    &:hover {
                        text-decoration: none;

                        &:before {
                            color: $linkColorHover;
                        }
                    }
                }

                input {
                    width: 100%;
                    max-width: 500px;
                    box-sizing: border-box;
                    font-size: 0.9em;
                    min-width: 100px;
                    padding-left: 1.5em;
                    border: 1px solid transparent;
                    background: 0 50% / auto 1em url(/images/search-w.svg) no-repeat;
                    box-shadow: none;
                    color: black;

                    &:focus {
                        border: 1px solid transparent;
                        border-bottom: 1px solid #ccc;
                    }

                    &::placeholder {
                        color: $textColor;
                    }

                    &:-ms-input-placeholder {
                        color: $textColor;
                    }

                    &::-ms-input-placeholder {
                        color: $textColor;
                    }

                    &::-webkit-input-placeholder {
                        color: $textColor;
                    }

                    &::-moz-placeholder {
                        color: $textColor;
                    }
                }

                button {
                    display: none;
                }
            }

            .bvi-button {
                

                i {
                    &:before {
                        content: "\e901";
                        font-family: $rcIconsFontFamily;
                        font-size: 1.5rem;
                        color: $textColor;
                        font-weight: 400;
                        font-style: normal;
                    }

                    &:hover {
                        text-decoration: none;

                        &:before {
                            color: $linkColorHover;
                        }
                    }
                }
            }

            .login {
                a {
                    color: #63b175;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 0.625rem 1.25rem;
                    border: 1px solid #63b175;
                    font-size: 0.875rem;
                    border-radius: 4px;

                    &:hover {
                        color: #27893d;
                    }
                }
            }

            .chaity {
                a {
                    color: #ffffff;
                    margin: 0 10px;
                    background-color: #63b175;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 0.625rem 1.25rem;
                    border: 1px solid #63b175;
                    font-size: 0.875rem;
                    border-radius: 4px;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }


            .profile {
                align-self: center;
                height: auto;
                padding: 0;
                flex-basis: 18em;
                flex-grow: 5;
                position: relative;

                .goto-profile {
                    display: inline-flex;
                    cursor: pointer;
                    text-align: right;
                    align-items: center;

                    .username, .selected-role {
                        display: block;
                    }

                    .username {
                        font-size: 0.875rem;
                    }

                    .selected-role {
                        font-size: 0.8rem;
                        color: $grayColor4;
                    }

                    .avatar-area{
                        position: relative;
                        margin-left: 0.6em;
                        flex-shrink: 0;
                        flex-grow: 0;
                        .user-avatar {
                            width: 2.5em;
                            height: 2.5em;
                            display: inline-block;
                            vertical-align: middle;
                            //background: 0 0 / 100% 100% url(/images/user.png) no-repeat;
                            //flex-basis: 3em; // breaks image width
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .notification-dot{
                            position: absolute;
                            width: 0.75em;
                            height: 0.75em;
                            background: $main-color;
                            border: 2px solid white;
                            border-radius: 50%;
                            top: 100%;
                            transform: translateY(-100%);
                        }
                    }
                }

                .ui-overlaypanel-content {
                    background-color: #FFFFFF;
                }

                a.become-yourself {
                    position: absolute;
                    min-width: 100px;
                    top: 0;
                    right: 4.5em;
                    background: $mainColor;
                    border-radius: 2em;
                    border-bottom-right-radius: 2em;
                    color: #fff;
                    padding: 0.1em 0.5em;
                    font-size: 0.9em;
                    border-bottom-right-radius: 0;
                }

                .user-dropdown-menu {
                    min-width: 18rem;
                    border: 1px solid #ddd;
                    border-top: 0;
                    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1) !important;
                    padding: 1rem 0;
                    background: #fff;
                    top: 4.4rem !important;
                    right: 0;
                    left: auto !important;

                    .role-switcher {
                        display: flex;
                        flex-wrap: wrap;

                        a {
                            text-decoration: none;
                            padding: 0.5rem;

                            &:before {
                                content: "\E919";
                                display: block;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 1.5rem;
                                line-height: 2.8rem;
                                width: 2.8rem;
                                height: 2.8rem;
                                font-family: 'rc-role' !important;
                                background: $menuIconsBackgroundColor;
                                border: 1.25px solid $menuIconsColor;
                                border-radius: 50%;
                                color: $menuIconsColor;
                            }

                            &:hover {
                                &:before {
                                    border-color: $menuIconsHoverColor;
                                    color: $menuIconsHoverColor;
                                }
                            }

                            &.selected {
                                &:before {
                                    border-color: $menuIconsActiveColor;
                                    color: $menuIconsActiveColor;
                                }
                            }

                            /* Roles icons */

                            &.student:before {
                                content: "\E92F";
                            }

                            &.rightholder:before {
                                content: "\E92D";
                            }

                            &.super_user:before {
                                content: "\E930";
                            }

                            &.tls:before {
                                content: "\f007";
                                font-family: FontAwesome-5;
                                font-weight: bold;
                            }

                            &.university_expert:before {
                                content: "\E932";
                            }

                            &.university:before {
                                content: "\E931";
                            }

                            &.employer:before {
                                content: "\E921";
                            }

                            &.olymp:before {
                                content: "\E925";
                            }

                            &.recruiter:before {
                                content: "\E91C";
                            }

                            &.event_organizer:before {
                                content: "\f19c";
                                font-family: FontAwesome-5;
                                font-weight: bold;
                            }

                            &.expert:before {
                                content: "\E927";
                            }

                            &.coordinator:before {
                                content: "\E91E";
                            }

                            &.employer_expert:before {
                                content: "\E923";
                            }

                            &.analyst:before {
                                content: "\E91D";
                            }

                            &.platform:before {
                                content: "\E92B";
                            }

                            &.fumo_expert:before {
                                content: "\E928";
                            }

                            &.mon:before {
                                content: "\E929";
                            }

                            &.dpo_admin:before {
                                content: "\E91F";
                            }

                            &.solutions_and_services_admin:before {
                                content: "\E92E";
                            }

                            &.security_officer:before {
                                content: "\E91B";
                            }
                        }
                    }

                    a.dropdown-menu-link {
                        display: block;
                        padding: 0.5rem 0;
                        color: $fontColor;
                        text-decoration: none;

                        &:hover {
                            color: $mainColor100;
                        }
                    }
                }

                #menu-switcher {
                    font-size: 1.5rem;
                    padding: 0 1rem;
                    vertical-align: middle;
                }
            }

            .logout {
                background: #e7e8eb;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $header-height;

                a {
                    &:before {
                        content: "";
                        background: 0 0 / 100% 100% url(/images/logout.png) no-repeat;
                        width: 3em;
                        height: 3em;
                        display: inline-block;
                    }

                    span {
                        display: none;
                    }
                }
            }

            .tools {
                align-self: center;
                text-align: right;
            }

            .main-menu-mobile {

                .navigation {
                    padding: 0;
                    border: 0 none;
                    background: transparent;

                    ul {
                        display: flex;
                        flex-direction: column;
                    }

                    li {
                        padding: 0;
                        font-size: 1rem;
                        float: none;
                        display: block;

                        &.ui-state-hover, &:hover {
                            background: transparent;
                        }

                        a {
                            color: $fontColor;
                            float: none;
                            display: flex;
                            align-items: center;
                            padding: 0;
                            border: 0 none;

                            &.ui-state-hover, &:hover {
                                cursor: pointer;
                                color: $mainColor100;
                                background: transparent;

                                &:before {
                                    color: $mainColor100;
                                }
                            }

                            &.selected {
                                color: $mainColor100;

                                &:before {
                                    color: $mainColor100;
                                }

                                .ui-menuitem-text {
                                    color: $mainColor100;
                                }
                            }

                            &:before {
                                content: "\f128";
                                display: inline-block;
                                text-align: center;
                                font-size: 1.2rem;
                                line-height: 1;
                                width: 4rem;
                                font-family: "rc-icons";
                                background: transparent;
                                border: 0 none;
                                padding: 0.5rem 0;
                                box-sizing: border-box;
                                flex-shrink: 0;
                            }

                            .ui-menuitem-text {
                                float: none;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .main-menu {
            flex-shrink: 0;
            align-self: center;
            list-style: none;
            /*display: flex;*/
            align-items: center;
            font-size: 0.875rem;

            .navigation.icons {
                padding: 0;
                border: 0 none;
                background: transparent;

                &.short-menu {
                    ul {
                        justify-content: center;
                    }

                    li {
                        padding: 0 30px;
                    }
                }

                ul {
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                }

                li {
                    padding: 0;
                    font-size: 0.8rem;
                    float: none;
                    display: inline-block;
                    flex-shrink: 1;
                    flex-basis: 0;

                    &.ui-state-hover, &:hover {
                        background: transparent;
                    }

                    a {
                        color: $textColor;
                        float: none;
                        position: relative;
                        padding: 0;
                        border: 0 none;

                        &.ui-state-hover, &:hover {
                            cursor: pointer;
                            background: transparent;

                            &:before {
                                color: $mainColor100;
                            }

                            .ui-menuitem-text {
                                display: block;
                                z-index: 100;
                                color: $mainColor100;
                                font-weight: normal;
                                background: white;
                            }
                        }

                        &.selected {
                            color: $mainColor40;

                            &:before {
                                color: $mainColor100;
                            }

                            .ui-menuitem-text {
                                color: $mainColor100;
                                font-weight: bold;
                                display: block;
                            }
                        }

                        &:before {
                            color: $grayColor3;
                            content: "\f128";
                            display: block;
                            text-align: center;
                            font-size: 2rem;
                            line-height: 1;
                            height: 2.5rem;
                            font-family: $rcIconsFontFamily;
                            background: transparent;
                            border: 0 none;
                            padding: 0;
                            box-sizing: border-box;
                        }

                        .ui-menuitem-text {
                            float: none;
                            display: block;
                            text-align: center;
                            font-size: 0.75rem;
                            line-height: 1.3;
                            padding: 0 0.5rem;
                            /*white-space: nowrap;*/
                        }
                    }
                }
            }
        }

        /* Menu icons */

        .main-menu, .main-menu-mobile {
            .navigation {
                border: 0 none;

                &.pages.icons {
                    li {

                        /* Public pages */

                        a.course-catalog:before {
                            content: "\e926";
                        }
                        a.program-catalog:before {
                            content: "\e927";
                        }
                        a.public-platforms:before {
                            content: "\e920";
                        }
                        a.public-universities:before {
                            content: "\e921";
                        }

                        /* About */

                        a.about:before {
                            content: "\f1ae";
                            font-family: 'icomoon';
                        }

                        /* History */

                        a.history:before {
                            content: "\e90d";
                            font-family: 'icomoon';
                        }
                        a.school-village:before {
                            content: "\e90c";
                            font-family: 'icomoon';
                        }
                        a.technologies:before {
                            content: "\f2b5";
                            font-family: 'icomoon';
                        }
                        a.growing:before {
                            content: "\e90f";
                            font-family: 'icomoon';
                        }

                        /* Projects */
                        a.publishing:before {
                            content: "\e90b";
                            font-family: 'icomoon';
                        }
                        a.projects:before {
                            content: "\f115";
                            font-family: 'icomoon';
                        }
                        a.photo:before {
                            content: "\f03e";
                            font-family: 'icomoon';
                        }

                        /* Student */

                        a.student-dashboard:before {
                            content: "\e915";
                        }
                        a.results:before {
                            content: "\e919";
                        }
                        a.education:before {
                            content: "\e916";
                        }
                        a.cv:before {
                            content: "\e91a";
                        }
                        a.career:before {
                            content: "\e912";
                        }
                        a.skills:before {
                            content: "\e91c";
                        }
                        a.activities:before {
                            content: "\e927";
                        }
                        a.recommendations:before {
                            content: "\e917";
                        }
                        a.student-contracts:before {
                            content: "\e913";
                        }
                        a.student-enrollments:before {
                            content: "\e918";
                        }
                        a.student-individual-tests:before {
                            content: "\e91d";
                        }
                        a.digital-student-id-profile:before {
                            content: "\e914";
                        }

                        /* University */

                        a.courses:before {
                            content: "\e926";
                        }
                        a.edu-programs:before {
                            content: "\e910";
                        }
                        a.listeners:before {
                            content: "\e925";
                        }
                        a.university-certificates:before {
                            content: "\e90f";
                        }
                        a.university-recommendation:before {
                            content: "\e917";
                        }
                        a.university-profile:before {
                            content: "\e923";
                        }
                        a.contracts:before {
                            content: "\e913";
                        }
                        a.university-enrollments:before {
                            content: "\e918";
                        }
                        a.university-analytic:before {
                            content: "\e922";
                        }
                        a.university-reports-table:before {
                            content: "\e924";
                        }
                        a.university-individual-tests:before {
                            content: "\e91d";
                        }

                        /* Employer */

                        a.employer-dashboard:before {
                            content: "\e915";
                        }
                        a.job-vacancies:before {
                            content: "\e903";  // легаси?
                        }
                        a.employer-enrollments:before {
                            content: "\0045"; // легаси?
                        }
                        a.employer-vacancies:before {
                            content: "\e903";
                        }
                        a.employer-employees:before {
                            content: "\e925";
                        }
                        a.employer-recommendation:before {
                            content: "\e917";
                        }
                        a.employer-career-verification:before {
                            content: "\e912";
                        }
                        a.addit-edu:before {
                            content: "\e90e";
                        }
                        a.employer-dpo-contracts:before {
                            content: "\e913";
                        }
                        a.employer-profile:before {
                            content: "\e923";
                        }

                        /* Recruiter */

                        a.recruiting-vacancies:before {
                            content: "\e903";
                        }
                        a.recruiting-recommendations:before {
                            content: "\e917";
                        }
                        a.recruiting-profile:before {
                            content: "\e923";
                        }

                        /* Platform */

                        a.platform-courses:before {
                            content: '\e926';
                        }
                        a.platform-tickets:before {
                            content: '\e918';
                        }
                        a.platform-profile:before {
                            content: '\e923';
                        }

                        /* Organizer */

                        a.events:before {
                            content: "\e90e";
                        }
                        a.events-recommendations:before {
                            content: "\e917";
                        }
                        a.events-certificates:before {
                            content: "\e91c";
                        }
                        a.events-organizer-profile:before {
                            content: "\e923";
                        }

                        /* Rightholder */

                        a.rightholder-courses:before {
                            content: "\e926";
                        }
                        a.rightholder-programs:before {
                            content: "\e90e";
                        }
                        a.rightholder-tickets:before {
                            content: "\e918";
                        }
                        a.rightholder-recommended-resources:before {
                            content: "\e91B";
                        }

                        /* Admin */
                        a.manage-organizations:before {
                            content: "\e90a";
                        }
                        a.manage-user:before {
                            content: "\e925";
                        }
                        a.stats:before {
                            content: "\e90B";
                        }
                        a.manage-api-applications:before {
                            content: "\e907";
                        }
                        a.manage-courses:before {
                            content: "\e906";
                        }
                        a.recommended-resources-list:before {
                            content: "\e918";
                        }
                        a.manage-news:before {
                            content: "\e909";
                        }

                        /* Expert */

                        a.expert-tickets:before,
                            a.employer-expert-tickets:before,
                            a.fumo-expert-tickets:before {
                            content: "\e918";
                        }
                        a.expert-profile:before,
                            a.employer-expert-profile:before,
                            a.fumo-expert-profile:before {
                            content: "\e923";
                        }

                        /* University expert */

                        a.university-expert-tickets:before {
                            content: "\e918";
                        }
                        a.university-expert-profile:before {
                            content: "\e923";
                        }

                        /* Coordinator */

                        a.coordinator-tickets:before {
                            content: "\e918";
                        }
                        a.experts-registry:before {
                            content: "\e925";
                        }
                        a.best-practices:before {
                            content: "\e90D";
                        }

                        /* Analyst */

                        a.analytics:before {
                            content: "\e911";
                        }

                        /* MON */

                        a.mon-mailing:before {
                            content: "\e908";
                        }
                        a.mon-analytic-statistics:before {
                            content: "\e904";
                        }
                        a.mon-reporting-statistics:before {
                            content: "\e905";
                        }
                        a.mon-individual-tests:before {
                            content: "\e91d";
                        }

                        /* DPO admin */

                        a.manage-dpo:before {
                            content: "\e902";
                        }

                        /* Solutions and services admin */

                        a.solutions-and-services:before {
                            content: "\e91B";
                        }

                        /* Security officer */

                        a.digital-student-id-qr-scan:before {
                            content: "\e914";
                        }

                        /* Competition organizer */

                        a.competitions:before{
                            content: "\e926";
                        }
                        a.competition-certificates:before{
                            content: "\e91c";
                        }
                        a.competition-recommendations:before{
                            content: "\e917";
                        }
                        a.competition-organizer-profile:before{
                            content: "\e923";
                        }
                    }
                }
            }
        }
    }
}

/* Media */

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(lg) {
    .rc-theme #header .top-nav #rc-logo {
        flex-grow: 1;
    }
}

@include media-breakpoint-down(md) {
    .rc-theme {
        #rc-logo {
            padding-right: .5rem;
        }

        #header {
            .top-nav {
                .bvi-button {
                    padding-right: .5rem;
                    padding-left: .5rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .rc-theme {
        #rc-logo {
            padding-left: 1rem;
        }

        #header .top-nav {
            .login {
                font-size: 0.8rem;
            }

            .profile {
                .user-dropdown-menu {
                    width: 100vw;
                }
            }
        }
    }
}

.user-dropdown-menu {
    min-width: 18rem;
    border: 1px solid #ddd;
    border-top: 0;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1) !important;
    padding: 1rem 0;
    background: #fff;
    top: 4.4rem !important;
    right: 0;
    left: auto !important;

    .role-switcher {
        display: flex;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            padding: 0.5rem;

            &:before {
                content: "\E919";
                display: block;
                text-align: center;
                vertical-align: middle;
                font-size: 1.5rem;
                line-height: 2.8rem;
                width: 2.8rem;
                height: 2.8rem;
                font-family: 'rc-role' !important;
                background: $menuIconsBackgroundColor;
                border: 1.25px solid $menuIconsColor;
                border-radius: 50%;
                color: $menuIconsColor;
            }

            &:hover {
                &:before {
                    border-color: $menuIconsHoverColor;
                    color: $menuIconsHoverColor;
                }
            }

            &.selected {
                &:before {
                    border-color: $menuIconsActiveColor;
                    color: $menuIconsActiveColor;
                }
            }

            /* Roles icons */

            &.student:before {
                content: "\E92F";
            }

            &.rightholder:before {
                content: "\E92D";
            }

            &.super_user:before {
                content: "\E930";
            }

            &.tls:before {
                content: "\f007";
                font-family: FontAwesome-5;
                font-weight: bold;
            }

            &.university_expert:before {
                content: "\E932";
            }

            &.university:before {
                content: "\E931";
            }

            &.employer:before {
                content: "\E921";
            }

            &.olymp:before {
                content: "\E925";
            }

            &.recruiter:before {
                content: "\E91C";
            }

            &.event_organizer:before {
                content: "\f19c";
                font-family: FontAwesome-5;
                font-weight: bold;
            }

            &.expert:before {
                content: "\E927";
            }

            &.coordinator:before {
                content: "\E91E";
            }

            &.employer_expert:before {
                content: "\E923";
            }

            &.analyst:before {
                content: "\E91D";
            }

            &.platform:before {
                content: "\E92B";
            }

            &.fumo_expert:before {
                content: "\E928";
            }

            &.mon:before {
                content: "\E929";
            }

            &.dpo_admin:before {
                content: "\E91F";
            }

            &.solutions_and_services_admin:before {
                content: "\E92E";
            }

            &.security_officer:before {
                content: "\E91B";
            }
        }
    }

    a.dropdown-menu-link {
        display: block;
        padding: 0.5rem 0;
        color: $fontColor;
        text-decoration: none;

        &:hover {
            color: $mainColor100;
        }
    }
}

#menu-switcher {
    font-size: 1.5rem;
    padding: 0 1rem;
    vertical-align: middle;
}

@media (max-width: 768px) and (min-width: 576px){
    #header {
        .top-nav .profile .user-dropdown-menu{
            max-width: 500px !important;
        }
    }
}
.fa-bars:before{
    content: "\f0c9";
    font-family: 'icomoon' !important;
    font-size: 1.5em;
    padding: 0 10px;
}
@media (max-width: 650px){
    .login{
        display: none;
    }
}
@media (max-width: 550px){
    .chaity{
        display: none;
    }
}
@media (max-width: 426px) {
    .bvi-button {
        display: none;
    }
    #menu-switcher {
        margin-right: -1.5em;
    }
    #rc-logo {
        margin-left: -1.5em;
    }
}
@media (max-width: 710px) {
    .header-margin {
        margin: unset !important;
    }
}
