/*
    Created on : 30.11.2021, 18:34
    Author     : ninomt
    Description: Styles for poromo page
*/

/* bootstrap mixins */
@import "../../bootstrap/bootstrap-utilities";

/* custom variables and mixins */
@import "../../variables";
@import "../../mixins";

.rc-theme .gray-section {
    background: $altColor6;
    overflow: hidden;
}

.rc-theme .blue-section {
    background: #F5F9FC;
    overflow: hidden;
}

// Headers

.rc-theme .promo-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    //border-bottom: 1px solid #3B4256;
    padding-bottom: 0;
    margin-bottom: 1.2em;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: $grayColor1;
    }

    a {
        color: $mainColor100;
        text-decoration: none;

        &:hover {
            color: $mainColor100;
            text-decoration: underline;
        }
    }
}

.big-promo-block{
    background: #FFFFFF;
    box-shadow: 0px 1px 40px rgba(40, 75, 123, 0.1);
    border-radius: 24px;
}

// Promo top banner (carousel)

#promo-top-banner, #portfolio-distant-carousel, .dots-carousel {
    .promo-top-banner-item {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 32em;*/

        picture, img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translate(-50%, 0%);

        .owl-dot {
            height: 0.7rem;
            width: 0.7rem;
            background: #fff;
            border: 1px solid $mainColor100;
            border-radius: 100%;
            margin: 0.5rem;

            &.active {
                background: $mainColor100;
            }
        }
    }
  .owl-stage-outer{
    border: 5px solid #63b175;
    border-radius: 25px;
    max-height: 28em;
  }
}

#promo-top-banner2, #portfolio-distant-carousel, .dots-carousel {
  .promo-top-banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 32em;*/

    picture, img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0%);

    .owl-dot {
      height: 0.7rem;
      width: 0.7rem;
      background: #fff;
      border: 1px solid $mainColor100;
      border-radius: 100%;
      margin: 0.5rem;

      &.active {
        background: $mainColor100;
      }
    }
  }
  .owl-stage-outer{
    border: 5px solid #63b175;
    border-radius: 25px;
    max-height: 28em;
  }
}

#promo-top-banner3, #portfolio-distant-carousel, .dots-carousel {
  .promo-top-banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 32em;*/

    picture, img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0%);

    .owl-dot {
      height: 0.7rem;
      width: 0.7rem;
      background: #fff;
      border: 1px solid $mainColor100;
      border-radius: 100%;
      margin: 0.5rem;

      &.active {
        background: $mainColor100;
      }
    }
  }
  .owl-stage-outer{
    border: 5px solid #63b175;
    border-radius: 25px;
    max-height: 28em;
  }
}

.dots-carousel {
    border-radius: 24px;
    overflow: hidden;
}

// Promo stats

// ---> Thematic section stub
#promo-stats {
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  #promo-stats {
    margin-bottom: 3rem;
  }
}
// <---

#promo-stats {
    .stats-item {
        background: #FFF;
        padding: 1.69rem 1.5rem;
        position: relative;
        overflow: hidden;
        border: 1px solid $mainColor60;
        border-radius: 12px;
        color: $mainColor60;
        font-size: 1.5rem;
        
        .stats-icon {
            width: 2.6875rem;
            margin-right: 1rem;
        }

        .stats-arrow{
            width: 1.25rem;
        }

        .stats-background {
            display: none;
        }

        .promo-stats-value, .promo-stats-label {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .promo-stats-value{
            text-transform: uppercase;
        }

        .stats-link {
            display: block;
            font-weight: bold;
            padding-top: 1rem;
            position: relative;

            &:after {
                position: absolute;
                right: 0;
                top: 50%;
                content: "\f30b";
                font-family: FontAwesome-5;
                font-weight: bold;
            }
        }
    }

    a {
        .stats-item {
            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 0 0 0 2px $mainColor60;
            }
        }
    }
}

// COVID-19 message
#coronavirus-message, #courses-list-message {
    div {
        background: #0067D9;
        padding: 2rem 1.5rem;
        color: #fff;
        /*font-size: 1.1rem;*/
        font-weight: 500;
    }
    a {
        text-decoration: underline;
        color: #FFF;

        &:hover{
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

// Courses list message
#courses-list-message {
    div {
        background: #428bca;
    }
}


// Promo top courses carousel

#cards-carousel, .cards-carousel, #program-cards-carousel, #news-cards-carousel {
    .rc-card {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    //.owl-nav {
    //  position: absolute;
    //  left: 0;
    //  right: 0;
    //  top: 50%;
    //  transform: translate(0%, -50%);
    //  display: flex;
    //  justify-content: space-between;
    //  z-index: -1;
    //  margin-left: -20px;
    //  margin-right: -20px;
    //
    //  .owl-prev, .owl-next {
    //    font-size: 3rem !important;
    //  }
    //}
}

#cards-carousel, .cards-carousel {
    &.owl-carousel {
        .owl-item {
            img {
                display: unset;
            }
        }
    }
}

#program-cards-carousel {
    &.owl-carousel {
        .owl-item {
            img {
                display: unset;
            }
        }
    }
}

#courses-cards-carousel.owl-carousel.cards-carousel.owl-loaded.owl-drag .owl-nav{
    display: none;
}

#programs-cards-carousel.owl-carousel.cards-carousel.owl-loaded.owl-drag .owl-nav{
    display: none;
}

#promo-activities-carousel.owl-carousel.cards-carousel.owl-loaded.owl-drag .owl-nav{
  display: none;
}

//Activities-carousel

#promo-activities-carousel.flexWhenCarouselStop{
  flex-wrap: wrap;
}

#promo-activities-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .promo-activities-carousel-item{
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      background: linear-gradient(
                      0deg, #000C2F 0%, rgba(0, 0, 0, 0) 58.79%);
      border-radius: 12px
    }
    p{
      display: block;
      width: 100%;
      height: 100%;
    }

    .activity_title{
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      left: 1.5em;
      bottom: 2.5em;
      line-height: 24px;
      display: flex;
      align-items: flex-end;
      position: absolute;
      color: white;
      width: 250px;
    }
    .activity_count{
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      opacity: 0.8;
      position: absolute;
      left: 2em;
      bottom: 2em;
    }
    .gradient_activities{
      position: absolute;
      opacity: 0.5;
      top: 0.95em;
      bottom: 0.95em;
      left: 0.95em;
      background: linear-gradient(
                      0deg, #000C2F 0%, transparent 58.79%);
      right: 0.95em;
      border-radius: 12px;
    }
  }
}
@media (max-width: 767px) {
  #promo-activities-carousel {
    .promo-activities-carousel-item{
      min-width: 70%;

      .activity_title{
        left: 1.5em;
      }

      .activity_count{
        left: 2em;
      }
    }
  }
}
@media (max-width: 1200px) {
  #promo-activities-carousel {
    .promo-activities-carousel-item{

      .activity_title{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        left: 2em;
        bottom: 3.5em;
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        position: absolute;
        color: white;
        width: 80%;
      }

      .activity_count{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.8;
        position: absolute;
        left: 2.3em;
        bottom: 2.5em;
      }
    }
  }
}

@media (max-width: 991px) {
  #promo-activities-carousel {
    .promo-activities-carousel-item{

      .activity_title{
        font-size: 18px;
        line-height: 24px;
      }

      .activity_count{
        font-size: 16px;
        line-height: 17px;
      }
    }
  }
}

@media (max-width: 426px) {
  #promo-activities-carousel {
    .promo-activities-carousel-item{

      .activity_title{
        left: 1.5em;
        bottom: 3em;
      }

      .activity_count{
        left: 1.8em;
        bottom: 2em;
      }
    }
  }
}













.promo-section{
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(sm){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .promo-section-title-block{
        margin: 0 0 16px;
        @include media-breakpoint-up(sm) {
            justify-content: space-between;
            align-items: center;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        .promo-section-title{
            margin: 0;
            color: #000;
            font-size: 2rem;
            font-weight: bold;
        }

        a{
            font-weight: 600;
            &::after{
                background: url("../../../images/promo/link-arrow.svg");
            }
        }
    }
}


// Portfolio distatn learning block

.portfolio-distant {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    background-color: $mainColor60;
    .distant-portfolio-item{
        padding: 60px 30px;
        background-color: #fff;
        height: 460px;
        align-items: center;

        .distant-portfolio-text{
            color: $grayColor1;
            margin-left: 2rem;
            margin-right: 2rem;
            .distant-portfolio-number-box{
                width: 5.625rem;
                height: 5.625rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #E4EEFF;
                border-radius: 8px;
                margin-right: 2rem;
                flex: 0 0 auto;
                .distant-portfolio-number{
                    font-size: 3.125rem;
                    font-weight: bold;
                    color: $mainColor60;
                }
            }
            .distant-portfolio-summary{
                font-size: 2.625rem;
                font-weight: 600;
                margin-top: 0;
                margin-bottom: 0;
            }
            .distant-portfolio-text-body{
                font-size: 1.5rem;
            }
        }

        .distant-portfolio-image{
            min-height: 0;
            min-width: 0;
            max-width: 500px;
            flex: 1 1 100%;
            margin-right: 2rem;
            height: 400px;
        }
    }

    .mask-logo{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

// Portfolio info blocks

.portfolio-info {
    .info-block {
        padding: 40px;

        h3{
            color: black;
        }

        ul{
            list-style: none;
            padding-left: 0;
            .info-block-item{
                &::before{
                    content: '';
                    display: inline-block;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: $mainColor60;
                    margin-right: 10px;
                    transform: translateY(-0.1em);
                }
            }
        }

        img {
            border-radius: 12px;
        }

        .select-one-info-block {
            margin-bottom: -10px;

            .ui-button {
                background: #fff;
                color: $mainColor60;
                border-radius: 40px;
                border: 1px solid $mainColor60;
                margin-right: 20px;
                margin-bottom: 10px;

                &:last-of-type {
                    margin-right: 0;
                }

                &.ui-state-default.ui-state-active.ui-state-focus {
                    background-color: $mainColor60;
                }

                &.ui-state-hover{
                    border: 1px solid $mainColor60;
                    background-color: #fff;
                }

                &.ui-state-default.ui-corner-left {
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 40px;
                }
                &.ui-state-default.ui-corner-right {
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                }
            }
        }
    }
}

@media  (max-width: 425px){
    .portfolio-info {
        .info-block {
            .select-one-info-block {
                .ui-button {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .portfolio-info .info-block .col-md-6 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    div#digital-portfolio\:image {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .portfolio-distant .distant-portfolio-item .distant-portfolio-text {
        margin-right: 10rem;
    }
}

@include media-breakpoint-down(xl) {
    #promo-stats {
        .stats-item {
            padding: 1.25rem 1.125rem;
            .promo-stats-value, .promo-stats-label {
                font-size: 1.125rem;
            }
            .stats-icon {
                margin-right: 0.875rem;
                width: 2rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #promo-top-banner {
        .promo-top-banner-item {
            picture {
            }
        }
    }

    #cards-carousel, .cards-carousel, #program-cards-carousel, #news-cards-carousel {
        .owl-nav {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .portfolio-distant {
        .image {
            height: 100px;
            width: 100px;

            .number {
                font-size: 3rem;
            }
        }
    }

    .portfolio-info .info-blocks {
        .info-block,
        .info-block:nth-child(2n) {

            img {
            }

            .info-block-icon {
                height: 13rem;
            }
        }
    }

    #promo-stats {
        .stats-item {
            .promo-stats-value, .promo-stats-label {
                font-size: 0.875rem;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .rc-theme .promo-title {
        padding-bottom: 0;
        margin-bottom: 1.5em;
        display: block;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }

    #promo-stats {
        .stats-item {
            .stats-icon {
                width: 2rem;
            }
            .stats-link {
                font-size: 1rem;
            }
        }
    }

    .portfolio-info .info-blocks {
        .info-block,
        .info-block:nth-child(2n){
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 0;

            img {

            }

            .info-block-icon {
                height: 13rem;
                margin-left: 0;
                order: 0;
            }

            h3, .description {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }

    .portfolio-distant {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        overflow: hidden;
        background-color: $mainColor60;
        
        .distant-portfolio-item{
            padding: 40px 15px;
            height: 407px;

            .distant-portfolio-text{
                .distant-portfolio-number-box{
                    width: 3.125rem;
                    height: 3.125rem;
                    margin-right: 1rem;
                    .distant-portfolio-number{
                        font-size: 1.5rem;
                    }
                }
                .distant-portfolio-summary{
                    font-size: 1.25rem;
                }
                .distant-portfolio-text-body{
                    font-size: 0.875rem;
                }
            }
        }

        .mask-logo{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.middle-banners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;



  .box {
    width: 20vw;
    display: flex;
    height: auto;
    margin-top: 2em !important;
    margin: unset;
    border-radius: 20px;
    background-color: transparent;
    min-width: 15em;
    max-width: 20em;
    flex-direction: column;
    align-items: center;
    max-height: 23em;
    min-height: 10em;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
  }
}
.container.promo-static-banners {
  margin-top: 2em !important;
  height: 20em;
  width: 85%;
  background-color: antiquewhite;
}
.top-banner-section{
  background-color: #ebf2f2;
  height: 24em;
  margin-top: -16px;

  .left-panel {
    height: 657px;
    width: 600px;
    position: absolute;
    top: -250px;
    z-index: 0;
    left: -100px;
    overflow: hidden;


    .top-left-circle{
    width: 400px;
    height: 400px;
    background-color: #63b175;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    margin-left: 18px;
    margin-top: 17px;
  }
    .top-left-circle-border{
    z-index: 0;
    width: 450px;
    border: 2px solid #63b175;
    height: 450px;
    position: absolute;
    border-radius: 50%;
  }
    .left-little-circle{
      height: 50px;
      opacity: 0.6;
      width: 50px;
      background-color: #91D8A0;
      top: 250px;
      border-radius: 50%;
      right: 170px;
      z-index: 10;
      position: absolute;
    }
    .left-bottom-circle{
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    bottom: -60px;
    left: 80px;
    border-radius: 50%;
  }

  }
  .right-panel{
    height: 657px;
    width: 750px;
    position: absolute;
    top: -250px;
    z-index: 0;
    right: -1px;
    overflow: hidden;

    img{
      top: 245px;
      right: 80px;
      position: absolute;
      width: 400px;
      height: 400px;
      opacity: 0.3;
    }
    .top-right-circle{
      height: 250px;
      width: 250px;
      background-color: #63b175;
      position: absolute;
      right: -50px;
      bottom: 300px;
      border-radius: 50%;
  }
    .top-right-circle-border{
      height: 280px;
      width: 280px;
      position: absolute;
      right: -60px;
      border: 2px solid #63b175;
      bottom: 280px;
      border-radius: 50%;
    }
    .right-top-little-circle{
      height: 35px;
      opacity: 0.6;
      width: 35px;
      background-color: #91D8A0;
      top: 330px;
      border-radius: 50%;
      right: 20px;
      z-index: 10;
      position: absolute;
  }
    .bottom-right-circle{
      width: 400px;
      height: 400px;
      background-color: #207332;
      position: absolute;
      opacity: 0.8;
      z-index: 5;
      border-radius: 50%;
      bottom: -300px;
      left: 20px;
    }
    .bottom-right-circle-border{
      z-index: 0;
      width: 450px;
      border: 2px solid #63b175;
      height: 450px;
      position: absolute;
      border-radius: 50%;
      bottom: -330px;
      left: -5px;
    }


    .bottom-right-little-circle{
      height: 50px;
      width: 50px;
      background-color: #207332;
      border-radius: 50%;
      right: 355px;
      z-index: 10;
      position: absolute;
      bottom: 25px;
    }
    .bottom-corner-circle{
      height: 300px;
      width: 300px;
      background-color: #63b175;
      position: absolute;
      right: -90px;
      bottom: -150px;
      border-radius: 50%;
    }
    .bottom-corner-circle-border{
      z-index: 0;
      width: 400px;
      border: 2px solid #207332;
      height: 400px;
      opacity: 0.7;
      position: absolute;
      border-radius: 50%;
      bottom: -200px;
      right: -140px;
    }
    .bottom-corner-little-dark-circle{
      height: 80px;
      width: 80px;
      background-color: #207332;
      border-radius: 50%;
      right: -15px;
      opacity: 0.9;
      z-index: 10;
      position: absolute;
      bottom: 100px;
    }
    .bottom-corner-little-light-circle{
      height: 25px;
      opacity: 0.6;
      width: 25px;
      background-color: #ffffff;
      border-radius: 50%;
      right: 70px;
      z-index: 10;
      bottom: 100px;
      position: absolute;
    }
    .bottom-top-white-circle{
      width: 120px;
      height: 120px;
      background-color: #ffffff;
      position: absolute;
      z-index: 1;
      top: 160px;
      left: 220px;
      border-radius: 50%;
    }
  }
  .middle-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-top: 3em;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      margin-left: -20vw;
      width: 30%;
      z-index: 10;
    }
  }


}
@include media-breakpoint-down(lg) {
  .top-banner-section .middle-container img{

  }
}
@media (max-width: 1440px) {
  .top-banner-section .middle-container img{
    width: 430px;
  }
}
@media (max-width: 1024px) {
  .top-banner-section {
    .left-panel{
      left: -200px;
    }
    .right-panel{
      right: -100px;
    }
    .middle-container img{
      margin-left: -10vw;
    }
  }
}
@media (max-width: 768px) {
  .top-banner-section {
    .left-panel{
      left: -300px;
    }
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .bottom-right-circle{
    bottom: -350px !important;
    left: 90px !important;
  }
  .bottom-right-circle-border{
    bottom: -380px !important;
    left: 65px !important;
  }
  .bottom-right-little-circle{
    display: none;
  }
}
@media (max-width: 710px) {
  .header-margin {
    margin: unset !important;
  }
}
@media (max-width: 426px) {
  .bvi-button{
    display: none;
  }
  #menu-switcher{
    margin-right: -1.5em;
  }
  #rc-logo{
    margin-left: -1.5em;
  }
  .middle-container img {
    width: 300px !important;
  }
  .button-container{
    width: 300px;
    .promo-action-button{
      font-size: 0.8em !important;
    }
  }
  .bottom-right-circle{
    display: none;
  }
  .bottom-right-circle-border{
    display: none;
  }
  .top-banner-section .middle-container {
    padding-top: 8em;
  }
  .top-banner-section .right-panel img {
    opacity: 0.2;
  }
  .top-banner-section .right-panel .bottom-corner-circle-border{
    right: -180px;
  }
  .top-banner-section .right-panel .bottom-corner-circle{
    right: -110px;
  }
  .top-banner-section .right-panel .top-right-circle{
    display: none;
  }
  .top-banner-section .right-panel .top-right-circle-border{
    display: none;
  }
  .top-banner-section .right-panel .bottom-top-white-circle{
    display: none;
  }
  }

@media (max-width: 376px) {
  .button-container{
    margin-left: -2em !important;
  }
}
@media (max-width: 321px){
  .top-banner-section .middle-container img {
    margin-left: -1vw !important;
  }
  .button-container {
    width: 250px;
  }
  .top-banner-section .middle-container {
    padding-top: 11em;
  }
  .button-container {
    margin-top: 1em !important;
  }
  .top-banner-section .right-panel .bottom-corner-circle{
    display: none;
  }
  .top-banner-section .right-panel .bottom-corner-circle-border{
    display: none;
  }
  .top-banner-section .right-panel {
    right: -160px;
  }
}
@media (max-width: 650px){
  .login{
    display: none;
  }
}
@media (max-width: 550px){
  .chaity{
    display: none;
  }
}
.fa-home:before{
  content: "\e904";
  display: block;
  color: #63b175;
  font-family: 'icomoon' !important;
  font-size: 8em;

}
.fa-med:before{
  content: "\f0f0";
  color: #63b175;
  font-family: 'icomoon' !important;
  font-size: 8em;

}
.fa-child:before{
  content: "\f1ae";
  color: #207332;
  font-family: 'icomoon' !important;
  font-size: 8em;
}
.fa-bars:before{
  content: "\f0c9";
  font-family: 'icomoon' !important;
  font-size: 1.5em;
  padding: 0 10px;
}
.label-box{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.label-box-text{
  font-size: 16px;
  margin-top: 10px;
  height: auto;
  margin-bottom: 10px;
  min-height: 120px;
  position: absolute;
  width: inherit;
  padding: 10px;

}
.promo-action-button{
  text-shadow: none;
  box-shadow: none;
font-size: 0.9em;
font-weight: bold;
color: #FFF;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
display: inline-block;
padding: 0.8em 2em;
border: 1px solid #63b175;
border-radius: 10px;
cursor: pointer;
text-align: center;
text-decoration: none;
transition: background-color 0.2s ease-out;
width: auto;
margin-right: 2em;
}
.promo-action-button:hover{
box-shadow: 0 0 5px #207332;
}
.button-container{
  margin-top: 4em;
  margin-left: -5em;
  z-index: 10;
}
@media (max-width: 768px) and (min-width: 576px){
  #header {
    .top-nav .profile .user-dropdown-menu{
      max-width: 500px !important;
    }
  }
}
@media (min-width: 1440px){
  .label-box-text{
    min-height: unset;
  }
}

@media (max-width: 765px){
  .middle-banners{
    .box{
      width: 100%;
    }
  }
  .label-box-text{
    min-height: unset;
  }
}

@media (max-width: 990px){
  .middle-banners{
    .box{
      min-width: 10em;
    }
  }
  .label-box {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .label-box-text {
    font-size: 12px;
  }
  .fa-home:before{
    font-size: 5em;

  }
  .fa-med:before{
    font-size: 5em;

  }
  .fa-child:before{
    font-size: 5em;
  }
  .med-box{
    font-size: 12px !important;
    height: 42px;
  }
}

.med-box{
  font-size: 17px;
}
.box.container:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  transition-timing-function: linear;
  background-color: #ebf2f2;
  transition: background-color 1.5s, opacity 0.5s linear;

}
.label-box-text1{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.label-box-text2{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.label-box-text3{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.box1:hover{
  .fa-home{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .label-box1{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .label-box-text1{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
}
.box2:hover{
  .fa-child{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .label-box2{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .label-box-text2{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
}
.box3:hover{
  .fa-med{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .label-box3{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .label-box-text3{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
}
@media (max-width: 425px){
  .sem-logo img {
    width: 100%;
  }
}

.item {
  width: 48%;
}
.item p {
  line-height: 1.7em;
  width: 74%;
}
.icon-flex {
  width: 20%;
  max-width: 115px;

  img{
    width: -webkit-fill-available;
  }

}
@media (max-width: 950px){
  .item {
    width: 100%;
  }
}

.icon-vk:before{
  color: #207332;
}
.icon-odnoklassniki:before{
  color: #207332;
}
.icon-facebook-f:before{
  color: #207332;
}

@media (max-width: 1024px) {
  .text-carousel{
    flex-wrap: wrap !important;
  }
  .carousel-block{
    width: 100% !important;
  }
}

#page-content{
  background-image: url(/images/semusadba/map.png);
  background-size: cover;
}
#page-content:before{
  opacity: 0.5;
}

#storage{
  height: 10em;
  width: 15em;
  background-color: transparent;
  position: fixed;
  top: 33em;
  left: 51em;
}
#shop{
  height: 10em;
  width: 15em;
  background-color: transparent;
  position: fixed;
  top: 8em;
  left: 11em;
}
