*.class
target/
*.war
*.ear
build/
hs_err_pid*
/bin/
.idea
*.iml
**/target
*.log
*.pid
logs

/src/main/webapp/WEB-INF/classes/.netbeans_automatic_build
/src/main/webapp/WEB-INF/classes/src/
/src/main/webapp/WEB-INF/classes/

nb-configuration.xml
.DS_Store

config