


html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $fontFamily;
    font-weight: 400;
    color: $fontColor;
}



.ui-button, 
.ui-button.ui-state-default, 
button.ui-button.ui-state-default {

    @at-root .rc-theme .rc-action-button, 
    .rc-theme .ui-widget.rc-action-button,
    %rc-button-inside &,
    .rc-theme %rc-button,
    &.rc-action-button {
        background: $mainColor;
        font-size: 0.9em; //1rem;
        font-weight: bold;
        color: #FFF;
        font-family: $fontFamily;
        display: inline-block;
        padding: 0.8em 3em;//1em 2.5em;
        border: 1px solid $mainColor;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s ease-out;
        width: auto;

        &.ui-state-hover,
        &:hover {
            background-color: $mainColorHover;
            border-color: $mainColorHover;
        }

        
        &.ui-state-active,
        &:active {
            
        }
        
        &.ui-state-focus, 
        &:focus,
        &::-moz-focus-inner {
            background-color: $mainColorHover;
            border-color: $mainColorHover;
            opacity: 0.5;
        }
        
        &.ui-state-disabled,
        &[disabled] {
            background-color: $grayColor5;
            border-color: $grayColor5;
            opacity: 1;
        }

        /* white button with red border */

        &.rc-inverted-button {
            background-color: transparent;
            border: 1px solid $mainColor100;
            color: $mainColor100;
            padding: 8px 48px;
        }

        /* small button */
        
        .rc-button-small {
            padding: 0.5em 2em;
            font-weight: normal;
            text-transform: none;
        }
    }
    
    /* button with icon (without text) */
        
    @at-root %rc-icon-button, &.rc-icon-button {
        @extend %rc-button;
        padding: 0;
        height: 2.8em;
        width: 2.8em;
        
        &:before {
            font-family: FontAwesome;
            font-weight: normal;
        }
    }
    
    .rc-theme &.rc-remove-button {
        @extend %rc-icon-button;
        
        &:before {
            content: "\f014";
        }
        
        span {
            display: none;
        }
    }
    
    .rc-theme &.rc-edit-button {
        @extend %rc-icon-button;
        
        &:before {
            content: "\f040";
        }
        
        span {
            display: none;
        }
    }

    /* button back */

    @at-root .rc-theme .rc-button-back,
    .rc-theme &.rc-button-back {
        @extend %rc-button;
        height: 3em;
        width: 3em;
        /*background: 0 0 / cover url(/images/back.png) $mainColor100;*/
        background-image: url("/images/back.png");
        background-position: 0 0;
        background-size: cover;
        margin-right: 0.4em;
        border: none;
        border-radius: 100%;
        vertical-align: middle;
        padding: 0;
    }

    /* load more cards button */

    .rc-theme &.rc-load-more-cards-button {
        background: #C0C0C0;
        opacity: 0.8;
        font-size: 1em;
        border: none;

        &:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 5em;
            color: #f0f0f0;
            padding-bottom: 20px;
        }
    }

    .ui-button-text {
        padding: 0 1em;
    }

    &.ui-button-text-icon-left {
        .ui-button-text {
            padding: 0 1em 0 2em;
        }
    }
}

/* Link */

.ui-button, 
.ui-button.ui-state-default, 
button.ui-button.ui-state-default {
    @at-root .rc-theme &.rc-action-link,
    .rc-theme .rc-action-link {
        background: transparent;
        border: none;
        color: $mainColor100;

        &:hover {
            text-decoration: underline;
        }
    }
    
    @at-root .rc-theme &.rc-icon-clip span:before,
    .rc-theme .rc-icon-clip {
        content: "\f0c6";
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 0.5em;
    }
    
    @at-root .rc-theme &.rc-icon span:before,
    .rc-theme .rc-icon:before {
        display: inline-block;
        margin-right: 0.5em;
        font-family: FontAwesome !important;
    }
}


/* Title with the button on the right */

.rc-side-button {
    float: right;
    margin-left: 0.5em;

    .rc-theme h2 + & {
        margin-top: -3.85em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .rc-theme h3 + & {
        margin-top: -3.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

/* Menu button (select one) */

.rc-theme .ui-menubutton {
    &.rc-action-button {
        @extend %rc-button-inside;
        background: transparent;
        font-size: 1em;
        padding: 0;
        box-shadow: none;

        .ui-button {
            margin-right: 0;
        }
    }
    .ui-button.ui-state-default {
        background: transparent;
        border: 0 none;
    }
    .ui-button-text-icon-left .ui-icon {
        margin-left: 0.6em;
    }
}


/* Subnav */

.subnav {
    background: $grayColor8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /*padding-right: 2rem;*/
    font-size: 0.8rem !important;
}

/* Select one button in subnav menu */

.rc-theme .subnav .ui-selectonebutton,
.rc-theme .ui-selectonebutton.links-view {
    .ui-button {        
        &.ui-state-default {
            background: none;
            border: none;
            box-shadow: none;
            padding: 0 2em 0 0;
            font-size: 1.1em;
            color: #494b53;

            &.ui-state-active {
                font-weight: bold;
                background: none;
                color: $mainColor100;

                .ui-button-text span {
                    background: $mainColor100;
                    border-color: $mainColor100;
                    color: #fff;
                }
            }

            &.ui-state-hover {
                color: $mainColor80;
                background: none;

                .ui-button-text span {
                    border-color: $mainColor80;
                }
            }

            .ui-button-text span {
                font-size: 0.8em;
                font-weight: normal;
                line-height: 1.2em;
                vertical-align: middle;
                text-align: center;
                border: 1px solid #494b53;
                display: inline-block;
                border-radius: 100%;
                min-width: 2.2em;
                min-height: 2.2em;
                padding: 0.5em;
                margin-left: 1em; 
            }
        }

    }
}

/* Search field + button */

.rc-search {
    margin-top: 2em;

    .ui-button, 
    .ui-button.ui-state-default, 
    button.ui-button.ui-state-default {

        @at-root .rc-theme .search-button, 
        &.search-button {
            border-radius: 0 25px 25px 0;
            vertical-align: top;

            border: 1px solid transparent;
            padding: 0.6em 3em;
            font-size: 1em;

            span {
                line-height: inherit
            }
        }
    }

    .ui-inputfield.ui-inputtext.search-field {
        border-radius: 25px 0 0 25px;
        padding: 0.6em 1.5em;
        vertical-align: top;
    }
}


/* Tables */

.rc-theme .ui-datatable {
    table {
        font-size: 1em;
    }
    .ui-paginator {
        background: none;
        border: 0px none;
        line-height: 1;
    }
    .ui-paginator-bottom {
        margin-top: 1em;
    }
}

/* Checkbox */

.rc-theme, .ui-datatable .ui-selection-column {
    .ui-chkbox {
        .ui-chkbox-box {
            &.ui-state-default {
                width: 1.05em;
                height: 1.05em;
                line-height: 1.5em;
                border-radius: 0.15em;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                background: #fff;
                cursor: pointer;
                border: 1px solid #aaa;
                transition: background-color 0.2s;
            }
            &.ui-state-active {
                background: $mainColor;
                color: #fff;

                &:before {
                    font-family: FontAwesome;
                    content: "\f00c";
                    font-size: 0.8em;
                    position: relative;
                    bottom: 0.35em;
                }
            }
            &.ui-state-hover{
                border: 1px solid #0072EF;
            }
                &.ui-state-disabled{
                    opacity: 0.5;
                }
            .ui-chkbox-icon {
                display: none;
            }
        }
        .ui-chkbox-label {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.5em;
        }
    }
}

.rc-theme .ui-chkbox-box.ui-state-active {
    background: $mainColor100;
    border: 1px solid $mainColor100;
}

/* Page options (under subnav) */

.rc-theme .options-pane {
    overflow: hidden;
    margin: 0 0 2em;

    .option {
        float: right;
        margin: 1px 2px; /* to prevent box-shadow cutting */
    }
}


/* messages */
.rc-theme {
    .ui-growl-info, .ui-messages .ui-messages-info, .ui-message.ui-message-info {
        background: $altColor6;
        border-color: $altColor6;
        position: relative;
        color: $textColor;
        padding: 1rem 0.5rem;
        margin: 0;
    }

    .ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon,
    .ui-message-info-icon {
      background: none;
      //left: 0;
      //top: 50%;
      //position: absolute;
    }
    .ui-messages-info-icon:before, .ui-message-info-icon:before {
      content: "\f05a";
      font-family: "FontAwesome";
      font-size: 1em;
    }
    .ui-messages-warn-icon:before {
      content: "\f071";
      font-family: "FontAwesome";
      font-size: 1em;
    }
    .ui-messages-error-icon:before {
      content: "\f057";
      font-family: "FontAwesome";
      font-size: 1em;
    }

    .ui-messages-info-summary , .ui-message-info-summary {
        font-weight: normal;
    }
}

.break-words {
    word-break: break-all;
    display: inline-block;
}

/* tooltip */
.rc-tooltip-label:after {
    content: "\f059";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0.4em;
}



/* Quotes */
blockquote {
    border-left: 1px solid #bbb;
    font-style: italic;
    padding-left: 0.5em;
    margin: 1em 0.5em;
}

/* Tag */
.rc-tag {
    padding: 0.5em 2.5em 0.5em 1em;
    background: $mainColor100;
    display: inline-block;
    color: white;
    position: relative;
    border-radius: 0.3em;
    margin: 0.5em 0;
    line-height: 1.2em;
    font-weight: 500;
    
    .remove-button {
        //content: "\f00d";
        display: inline-block;
        color: white;
        font-family: FontAwesome !important;
        position: absolute;
        right: 1em;
        top: 0em;
        text-decoration: none;
        line-height: 2.2em;
        vertical-align: middle;
        //cursor: pointer;
    }
}

/* Custom paginator */
.rc-theme .rc-paginator {
    margin-top: 2em;
    text-align: center;
    
    .rc-pg-button, .ui-button.rc-pg-button {
        background: none;
        border: 0px none;
        border-radius: 0;
        color: $fontColor;
        min-width: 20px;
        text-align: center;
        padding: 0.2em;
        margin: 0 1em 0 0;
        
        &.rc-pg-button-active {
            color: $mainColor100;
            border-bottom: 1px solid $mainColor100;
        }
        
        &:last-of-type {
            margin-right: 0;
        }
    }
    
    .ui-button.rc-pg-button .ui-button-text {
        padding: 0;
        
        &:hover {
            color: $mainColor100;
        }
    }
}

/* Clearable input (input + button) */
.rc-theme .rc-clearable-field {
    display: inline-block;
    position: relative;
    margin-right: 1em;
    width: 400px;
    
    .ui-inputfield {
        padding-right: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .ui-button.rc-clear-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2em;
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0 none;
        color: #777;
        
        .ui-button-text {
            padding: 0;
            text-align: center;
            
            &:before {
                content: "\f00d";
                font-family: FontAwesome;
            }
        }
    }
}




body.common-bg{
    /*min-width: 1300px;*/
    //background-image: url(/images/background.jpg);
    background-color: #fdfdfd;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smalllink{
    text-decoration: none;
}

.smalllink:hover{
    opacity: 0.8;
    text-decoration: underline;
}

.overlayme {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    top: 43px;
    left: 0px;
}

.capitalize {
  text-transform: capitalize;
}

.capitalize-button .ui-button-text {
  @extend .capitalize;
}

.language-selector {
    width: auto;
    max-width: 300px;
    margin-bottom: 1rem;
    .ui-chkbox {
        margin-right: 0.5rem;
    }
    .ui-selectlistbox-item {
        padding: 0.3rem;
    }
}

.language-section, .languages {
    .empty-message {
        display: inline-block;
    }
}

.languages {
    .language-item:last-of-type .separator {
        display: none;
    }
}

.language-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Buttons */

.action-button {
    background: #0067D9;
    padding: 0.4rem 2rem;
    border: 1px solid #0067D9;
    border-radius: 1rem;
    color: #fff;
    font-size: 0.8rem;
    box-shadow: 0px 1px 2px 0px #777;
}

.action-link {
    border: 0px none;
    background: transparent;
    padding: 0;
    color: #0067D9;
    font-size: 0.8rem;
}

button.back {
    border: 0px none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: #0067D9;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}
button.back:after {
    content: "\f060";
    font-family: 'FontAwesome';
    color: #fff;
}

.rc-theme {
    .ui-button, .ui-button.ui-state-default, button.ui-button.ui-state-default,
    .ui-commandlink, a {
        &.rc-edit-icon {
            font-size: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: transparent;
            border: 1px solid $menuIconsHoverBorderColor;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            
            &:before {
                content: "\f040";
                font-family: "FontAwesome";
                color: $menuIconsColor;
                font-size: 1rem;
            }
            
            &:hover:before {
                color: $mainColor100;
                background: $menuIconsBackgroundColor;
            }
        }
    }
    
    .subnav .rc-action-button {
        //padding: 0.6em 2em;
        float: right;
        //font-size: 1em;
    }
    .subnav .rc-action-button.rc-side-button {
    }
}

/* Inputs */

input {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
}

.input-select, .input-date {
    border: 1px solid #ccc;
    background: #fff;
}
.input-select input, .input-date input {
    width: calc(100% - 2rem);
    box-sizing: border-box;
    border: 0px none;
    background: transparent;
    color: #999;
}
.input-select:after, .input-date:after {
    content: "\f107";
    font-family: 'FontAwesome';
    width: 2rem;
    height: 2rem;
}

.input-date:after {
    content: "\f133";
}

.rc-theme .ui-selectcheckboxmenu {
    border: 1px solid $grayColor5;
    border-radius: 8px;
    
    .ui-selectcheckboxmenu-label {
        padding: 0.5em 26px 0.5em 0.5em;
    }
    
    .ui-selectcheckboxmenu-trigger .ui-icon {
        margin-top: 0.5em;
    }

    &.ui-state-focus .ui-selectcheckboxmenu-label {
        background: #FFF;
        color: $textColor;
    }
}
.rc-theme .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border: 0px none;
    background: none;
}

.rc-theme .ui-calendar {
    display: inline-block;
    
    .ui-inputfield {
        width: 100%;
        box-sizing: border-box;
        border: 0px none;
        border-radius: 2px;
        margin-right: 0.5em;
        padding: 0.5em;
    }
}


/* Headers */

.marked-header {
    text-transform: uppercase;
    padding: 0 1em 0 1em;
    margin: 0;
    font-size: 1.1em;
    font-weight: 300;
    vertical-align: middle;
    position: relative;
}

.marked-header:before {
    content: '';
    height: 0.4em;
    width: 0.4em;
    top: 0.9em;
    left: -1em;
    display: block;
    position: relative;
    background: none;
    box-sizing: border-box;
    border: 0.3em solid transparent;
    border-left: 0.3em solid #0067D9;
}


/* Tables */

.table-small {
    width: 100%;
    border-collapse: collapse;
}

.table-small tr {
    display: table-row;
    background: none;
    color: #626262;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

.table-small tr td {
    border: 0px none;
    padding: 1.4em 0em;
    text-align: right;
}
.table-small tr td:first-of-type {
    text-align: left;
    font-weight: bold;
}

.table-small tr td a {
    color: #626262;
}


.table-large {
    width: 100%;
    border-collapse: collapse;
}

.table-large tr {
    display: table-row;
    background: none;
    color: #626262;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

.table-large tr td, .table-large tr th {
    border: 0px none;
    padding: 1.4em 0em;
    text-align: center;
}
.table-large tr:nth-of-type(2n){
    background: #c6c6c666;
}
.table-large tr th {
    font-weight: bold;
}

.table-large tr td a {
    color: #626262;
}


/* Chronological view (for education and career) */

.chronological-item {
    display: flex;
    margin-bottom: 2rem;

    h2 {
        margin: 0 0 0.6rem 0;
        font-size: 1.1rem;
        line-height: 1;
        display: flex;
        align-items: center;

        .item-header-text {
            margin-right: 1.5rem;
        }
    }

    .item-data-row {
        padding: 0.2rem 0;
    }
}

#public-layout-container .content .content-paddings, #public-layout-container .content, #public-layout-container .subnav, #public-layout-container #footer {
    max-width: 90%;
}
