/* 
    Created on : 23.11.2021
    Author     : ninomt
    Description : Styles for tables
*/

/* table based on datatable */

.rc-theme .rc-table-large {
    display: block;
    vertical-align: top;
    margin-top: 2em;
    margin-bottom: 2em;
    flex: 1 0 70%;

    .ui-paginator-top {
        margin: 1.5rem 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: auto;
        min-width: 600px;

        thead {
            border: 0 none;
            background: none;
            
            tr {
                border-bottom: 1px solid #D9D9D9;
                border-top: 1px solid #D9D9D9;
            }

            th {
                display: table-cell;
                border: 0 none;
                //text-transform: uppercase;
                font-size: 0.9em;
                padding: 1em 0.5em;
                text-align: left;
                background: none !important;
                font-weight: bold;
                color: #555;
                border-bottom: 1px solid $grayColor5;
                border-top: 1px solid $grayColor5;
                vertical-align: top;
                
                /* override primefaces arrow color */
                &.ui-state-active {
                    color: $mainColor100;

                    .ui-icon-carat-2-n-s {
                        background-image: url("/javax.faces.resource/images/ui-icons_454545_256x240.png.xhtml?ln=primefaces-omega");
                    }
                }
            }
        }

        tbody {
            border: 0 none;
            background: none;
            
            tr {
                display: table-row;
                border: 0 none;

                &:nth-child(even) {
                    background: $tableEvenRowColor;
                }

                &.ui-state-highlight {
                    background: #{$mainColor100}66;
                }
            }

            td {
                display: table-cell;
                background: none;
                font-size: 0.9em;
                border: 0 none;
                padding: 1.3em 0.5em;
                text-align: left;
                color: #626262;
                vertical-align: top;
                //border-bottom: 1px solid #d1d1d1;
                
                svg {
                    width: 100%;
                }
            }
        }
    }
}

/* tables based on panelgrid */

.rc-table-small {
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: #8E8E8F;

        tr {
            display: table-row;
            background: none;
            color: $grayColor3;
            font-family: $fontFamily;
            font-size: 0.9em;
            border: none;
            border-bottom: 1px solid $grayColor5 !important;

            > td {
                font-weight: bold;
                padding: 1.4em 0em !important; /* override primefaces styles */
                border: 0px none !important;

                &:nth-child(2) {
                    text-align: right;
                    font-weight: normal;
                }
                
                .blockchain-address {
                    word-break: break-all;
                    display: inline-block;
                }

            }
        }
    }
}